.addTask {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.addTask form {
    display: flex;
    align-items: center;
}

.addTask input[type="text"] {
    padding: 10px;
    margin-right: 5px;
}


