header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: dodgerblue;
    margin: 0 auto;
    color: white;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: hotpink;
    width: 50%;
    margin: 20px;
}
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 30px;
    margin-right: 5px;
}



.activeTheme {
    width: 30px;
    height: 30px;
}

/* themes */

.light {
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    transition: all 500ms;
}

.medium {
    width: 20px;
    height: 20px;
    background-color: #ea9494;
    transition: all 500ms;
}

.dark {
    width: 20px;
    height: 20px;
    background-color: #15202B;
    transition: all 500ms;
}

.gradientBlue {
    width: 20px;
    height: 20px;
    background: linear-gradient(90deg, hsla(191, 75%, 60%, 1) 0%, hsla(248, 87%, 36%, 1) 100%);
    transition: all 500ms;
}

.gradientViolet {
    width: 20px;
    height: 20px;
    background: linear-gradient(90deg, hsla(270, 75%, 60%, 1) 0%, hsla(320, 87%, 36%, 1) 100%);
    transition: all 500ms;
}
.green{
    width: 20px;
    height: 20px;
    background: linear-gradient(90deg, hsla(120, 75%, 60%, 1) 0%, hsla(180, 87%, 36%, 1) 100%);
    transition: all 500ms;

}
