.card {
    /* Add your styles for the task card here */
    background-color: greenyellow;
    color: navy;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card_body{
    /* Add your styles for the card body here */
    margin-bottom: 1rem;
}

li {
    margin-bottom: 0.5rem;
    color: #333;
    font-size: 1rem;
    line-height: 1.5;
    list-style: none; /* Remove bullet points */
}
